.footer {
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}

.authPage {
    background-image: url("../../../images/signinImg.png");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
}