html, body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}


.containerBody{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerBody:after, :before {
  box-sizing: border-box;
}

.header {
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 360px;
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--widget-shadow);
  padding: 10px;
  margin: auto;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.containerHead {
  transition: padding .3s ease-in-out;
  padding: 15px 20px 0;
  margin: 0;
  font-weight: 400;
  text-align: center;
}
.container p {
  font-size: 13px;
  color: #888;
  margin-bottom: 0;
  text-align: center;
}

.container button {
  cursor: pointer;
  box-shadow: none;
  width: 100%;
  transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out;
  margin-bottom: 1rem;
  font-size: .875rem;
  border-radius: .5rem;
  padding: .4rem .8rem;
}

.footerId {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
  color: #636c72;
  text-align: center;
}

