@import "../../../styles/app";

.root {
  :global .tile {
    display: inline-block;
  }
}

.galleryControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer;
}

.galleryBtnGroup {
  :global .btn {
    transition: border-color 0.15s ease-in-out;
    background-color: $white !important;
    border-bottom: 2px solid transparent;
    border: {
      top: 0;
      right: 0;
      left: 0;
    }
    text-transform: initial;
    border-radius: 0;
    color: rgba(50,50,50,0.5);
    &.active {
      border-bottom: 2px solid theme-color("warning") !important;
      color: $text-color;
    }
    &:focus {
      border: 0;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}

.picture {
  padding: 1em;
  background-color: $white;
  border-radius: 8px;
  border: none;

  > a {
    overflow: hidden;
  }

  :global .figure-img {
    width: 100%;
    transition: $transition-base;
  }

  &:hover {
    :global .figure-img {
      transform: scale(1.1, 1.1);
    }
  }
}

.description {
  padding: ($spacer * 0.85) ($spacer * 0.5);
}
