@import '../../styles/app';

.searchInput {
  border-left: none;
  width: 200px;
  &:hover, &:focus {
    border-color: #c1ccd3;
  }
}

.searchIcon {
  border: 1px solid #c1ccd3;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  padding-left: 1em;
  border-right: none;
  display: flex;
  align-items: center;
}

.productsListFilters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: calc(#{$spacer} - 4px);

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.mobileFilterButtons {
  display: none;
  margin: auto -15px 25px;
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @include media-breakpoint-down(sm) {
    display: flex;
  }

  button {
    width: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    i {
      color: $border-color;
      margin-left: $content-padding / 4;
    }

    &:first-child {
      border-right: 1px solid $border-color;
    }
  }
}

.productsListElements {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* rc-slider customization */

.sliderCustomization.verticalSlider {
  height: 165px!important;
  display: inline-block;
  :global {
    .rc-slider-handle {
      margin-left: -11px!important;
    }
  }
}

.sliderCustomization {
  :global {
    .rc-slider-rail {
      background-image: linear-gradient(180deg,#eee 0,#f8f8f8);
      background-repeat: repeat-x;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      border-radius: .3rem;
    }
    .rc-slider-handle {
      position: absolute;
      width: 26px;
      height: 26px;
      cursor: pointer;
      cursor: -webkit-grab;
      cursor: grab;
      border-radius: 50%;
      border: none;
      background-color: #fff;
      touch-action: pan-x;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 3px rgba(0,0,0,0.5);
    }
    .rc-slider-handle:hover {
      border-color: none;
    }
  }
}

.horizontalSlider {
  margin: 18px 0;
  :global {
    .rc-slider-handle {
      margin-top: -11px;
    }
  }

}

.rangeSlider {
  :global {
    .rc-slider-handle {
      margin-top: -11px;
    }
  }
}

.sliderYellow {
  :global {
    .rc-slider-track {
      background-color: theme-color("warning");
    }
  }
}

/* rc-slider customization end */

/* react-select customization */

:global {
  .selectCustomization {
    color: #000;
  }
}

/* react-select end */

